@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "خطای دسترسی";
}

<h1 class="text-danger" style="direction: ltr">404 Sorry!!!</h1>
<h2 class="text-danger" style="direction: ltr">You dont have access to this path.</h2>
<img src="~/UploadedFiles/AccessDenied/12.png"/>